{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 7,
    "sourceType": "module"
  },

  "plugins": ["import"],

  "rules": {
    "import/no-unresolved": [0],
    "import/prefer-default-export": 0,
    "global-require": 0,
    "no-param-reassign": 0,
    "class-methods-use-this": 0,
    "arrow-body-style": 0,

    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-spacing": [ "error", "always" ]
  },

  "globals": { 
    "fetch": false,
    "document": true
  },

  "ecmaFeatures": {
    "jsx": true
  }
}
