.header {
   text-align: center;
   color: #002147;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.error {
    color: red;
    font-style: italic;
}

.search-bar input {
    width: 75%;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover{
    background-color: #eee;
}

.form {
    width: 500px;
    clear: both;
}

.form input {
    width: 100%;
    clear: both;
}

.primary {
  background-color: red;
}